/**Общие стили*/
html{
    font-family: "RobotoLight", Arial, Helvetica, sans-serif;
    min-width: 320px;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    color: #252525;
}
h1{

}
h2{
font-size: 30px;
font-weight: 850;
}
h3{
    font-size: 30px;
    font-weight: 950;

}
*,*:before,*:after{
    box-sizing: inherit;
}

/**Шрифты*/

@font-face{
    font-family: "Roboto";
    src: url("../roboto/Robotobolditalic.woff2");
    font-weight: 700;
    format:("truetype");
}
@font-face{
    font-family: "Roboto";
    src: url("../roboto/Robotomedium.woff");
    format:("truetype");
    font-weight: 700;
}
/**блок №1*/
.container {
    max-width: 1030px;
    margin: 0 auto;
    padding-top: 20px;
}
.block1__row{
    display: inline;
    box-sizing: border-box;

}
.block1__col1{
    float: left;
    display: inline;
}
.block1__col2{
    display: inline;
    float: left;
}

.block1_col3.text__right{
    padding: 20px 0 0 20px;
    display: inline;
    text-align: center;
}
p{
    padding-top: 15px;

}



.block1__main{
    padding: 180px 0 180px 0;
    text-align: center;
    color: #fff;
    font-size: 40px;
}

.block1{
    background:url(../img/Fon1.jpg) no-repeat top center/cover;
    min-height: 100vh;
    position: relative;
}
.block1::after{
    content: "";
    display: block;
    position: absolute;
    background-color: #fff;
    bottom: 0;
    left: 0;
    
}
.block1__col1 img{
background: transparent;
}
.ul{
    display: inline;
}
.block1__nav li{
 display: inline;
}

.block1__nav li+li{
    margin-left: 44px;
}
.nav{
    padding-right: 30px;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    transition: 0.2s;
    display: inline;
}
.block1__nav.text__right{
    padding-right: 50px;
}
span{
    padding-top: 20px;
    color: #FFF;
}
.block1__nav a:hover{
    color:red;
}
/**блок №2*/

.block02__header{
    font-size: 40px;
    font-weight: 700;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 75px;
}

.block02__inner{
    position: relative;
}

.block02__info{
    position: absolute;
    box-shadow: 0 0 15px;
    width: 500px;
    top: 0;
    right: 0;
    background: #fff;
    padding: 40px 30px;
    top: -170px;
    height: 300px;
    width: 580px;
}
.block02_text1{
    padding-top: 25px;
    padding-bottom: 10px;
}

.block02__pluses{
    overflow: hidden;
    margin: 0 -15px;
}

.block02__plus{
    display: inline-block;
    width: 33.33%;
    float: left;
    text-align: center;
    padding: 0 15px;
    
}
.simple-text{
    font-size: 18px;
    text-align: center;
}
.clear{
   clear: both;
}
.block02__image-wrap{
    min-height: 210px;
    text-align: center;
    max-width: 280px;
    margin-left: 75px;
    z-index: 1;
}
.block02__image-wrap img{
    max-width: 100%;
    min-height: 100%;

}

/**блок №3*/
.movie-list__header {
    color: #252525;
    text-align: center;
    font-weight: 700;
    margin: 40px auto 90px;
    font-size: 50px;
}
.movie-list__table{
    width: 100%;
    border-collapse: collapse;
    border-radius: 15px;
    border: grey solid 1px;
    overflow: hidden;

}
.movie-list__table th{
    color: #fff;
    background: #a3cc40;
    font-size: 30px;
    font-weight: 700;
    height: 75px;
}
.one{
    font-size: 22px;
    color: #fff;
    background: #373737;
    height: 75px;
}
.two{
    font-size: 22px;
    color: #fff;
    background:#4b4d4f;
    height: 75px;
}
.table_block1{
    width: 230px;
    text-align: center;

}
.table_block2{
    width: 670px;
    padding-left: 65px;
}
.table_block2 a{
    float: left;
}
.table_block3{
    width: 130px;
    text-align: center;
}
a{
    color: #fff;
    text-decoration: none;
}
.block3__text-table{
    margin: 0 auto;
    max-width: 830px;
    text-align: center;
    padding-top: 40px;
    font-family: "roboto" serif;
}

.section{
    max-width: 1030px;
}
.block3__tri{
    border-radius: 10px;
    padding: 20px;
    position: relative;
    color: #fff;
   }
   .block3__tri::after {
    content: ''; 
    position: absolute;
    left: 20px; bottom: 20px; 
    border: 10px solid transparent;
    border-top: 10px solid #FFF;
    float: left;
   }

  .block3__tri1{
    border-radius: 10px;
    padding: 20px;
    position: relative;
    color: #fff;
  }

  .block3__tri1::after{
      content: "";
      position: absolute;
      left: 20px;bottom: 20px;
      border: 10px solid transparent;
      border-top: 10px solid #FFF;
  }
   /**блок №4*/
.block04{
    background: url(../img/fon2.jpg) no-repeat top center/cover;
    margin: 0 auto;
    min-height: 100vh;
}
.block04__logo img{
    border-radius: 100%;
}

.block04__text-wrap.text-rigth{
    text-align: right;
    color: #fff;
}
.header.block04__header{
    font-size: 50px;
    margin-bottom: 60px;
}
.simple-text.block04__text1{
    font-size: 14px;
    margin-bottom: 20px;
    text-align: right;
}



.button {
    display: inline-block; /* строчно-блочный */
    height: 55px;
    margin: 30px 30px; /* отступы от края браузера */
    padding: 20px 60px; /* расстояние от текста до края кнопки */
    background-color: #90d23d; /* цвет кнопки  */
    border-radius: 5px; /* скругление углов */
    font-size: 18px; /* размер шрифта */
    text-decoration: none; /* не подчеркивать ссылку */
    transition: 0.2s; /* плавный ховер эффект */
    color: #f7f8e8; /* цвет текста на кнопке */
    border: 1px solid #f7f8e8 ;
  }
  
  .button:hover {
    background-color: transparent; /* замена цвета кнопки при наведении */
    }

  /**блок №5*/

  .block05__header{
      font-size: 50px;
      font-weight: 900;
      padding-left: 15px;
  }
  .simple-text.block05__text{
      color: #000;
      font-size: 14px;
      text-align: left;
      width: 670px;
  }
  .block05__inner{
    width: 100%;
    border-collapse: collapse;
  }
  .block05__inner td{
      
  }
  .block05__relative {
    position: relative;
    border-radius: 20px;
      
  }
  .block05__movi1 {
    padding: 23px;
  }
  
  .block05__descr {
    position: absolute;
    background-color: rgb(144, 210, 61, .5);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 20px;
    transform: translateY(100%);
    transition: .2s;
  }
  .block05__relative:hover .block05__descr{
      transform: translateY(0%);
  }

  .block05__descr img{
    display: block;
  }
  
  .block05__text{
      font-size: 35px;
      color: #fff;
      font-weight: 700;
      padding: 20px 0 10px 20px;
  }
  .block05__text3{
      position: relative;
      font-size: 18px;
      color: #fff;
      font-weight: 500;
      padding-left: 20px ;
  }
  .block05__sep{
      background: #fff;
      width: 84px;
      height: 6px;
      margin: 20px 0 20px 20px;
  }

  .block05__linls {
    position: absolute;
    bottom: 24px;
    left: 24px;
  }
.block05__linls a{
    display: inline-block;
}
.simple-text.block05__text{
    padding-bottom: 44px;
}

/**Футер подвал*/
.container__footer{
    padding-top: 40px;
}
.content{
    background: #90d23d;
}
.contacts{
    padding: 20px;
    text-align: center;
}
.prava{
    padding: 10px;
    text-align: center;
    font-size: 18px;
}